{% extends "fancylayout.html" %}

{% block content %}
  <div class="about-section">
    <h1>About Us</h1>
    <p>Team 25, Intro to Python CoSci10A</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/QKIULXm.jpg" alt="Ben" style="max-width: 30%">
        <div class="container">
          <h2>Ben Granat</h2>
          <p class="title">Student</p>
          <p>Loves to analyze data & statistics.</p>
          <p>bgranat@brandeis.edu</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/JOyM1vT.jpg" alt="Ethan" style="max-width: 30%">
        <div class="container">
          <h2>Ethan Coad</h2>
          <p class="title">Student</p>
          <p>Avid soccer and computer science fan.</p>
          <p>ethancoad@brandeis.edu</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://i.imgur.com/VB2rvB6.jpg" alt="Isaac" style="max-width: 100%">
        <div class="container">
          <h2>Isaac Fischer</h2>
          <p class="title">Student</p>
          <p>Phi Kappa Psi member and active participant in the community.</p>
          <p>fischer761@brandeis.edu</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}